[alias]
  # Found on Stackoverflow
  # List all available aliases
  # http://stackoverflow.com/questions/7066325/how-to-list-show-git-aliases#answer-7067489
  alias	=   config --get-regexp '^alias.*'

  s     =  status
  ss    =  status --short

  co    =  commit
  com   =  commit --message
  coma  =  commit --all --message

  a     =  add
  aa    =  add --all

  # A better git log (subjective obviously)
  # https://coderwall.com/p/euwpig?i=3&p=1&t=git
  lg    =   log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

  # Came from Conor Carr of Pilz Ireland
  incoming    =    !git remote update --prune; git log ..@{upstream}
  outgoing    =    log @{upstream}..

  # http://stackoverflow.com/a/3338774/1367612
  unpushed   =    log --branches --not --remotes --simplify-by-decoration --decorate --oneline

[core]
  # Use sublime as your default git editor
  # http://stackoverflow.com/questions/8951275/git-config-core-editor-how-to-make-sublime-text-the-default-editor-for-git-on#answer-9408117
  editor = 'C:/Program Files/Sublime Text 3/sublime_text.exe' -w
